<div class="contacts-content-wrap">
  <div class="contacts">
    <div class="contacts__line-wrap"><i class="contacts__icon fas fa-home"></i>
      <p class="contacts__text">г. Город ул. Улица д. 8
      </p>
    </div>
    <div class="contacts__line-wrap"><i class="contacts__icon fas fa-mobile-alt"></i>
      <p class="contacts__text">+7 (999) 999-99-99
      </p>
    </div>
    <div class="contacts__line-wrap"><i class="contacts__icon far fa-envelope"></i>
      <p class="contacts__text">mail.com
      </p>
    </div>
  </div>
</div>
<agm-map
	[latitude]= 48
  [longitude]= 138
  [zoom]= 9
  [disableDefaultUI]="false"
  [zoomControl]="false">
</agm-map>
<!-- <div class="map" id="map">
</div> -->