<footer class="footer" *ngIf="footer_check">
  <div class="footer__footer_bg" *ngIf="bg_check">
  </div>
  <div class="footer_content">
    <div class="social"><a class="social__social-link" href="#1"><i class="social__social-icon fab fa-vk"></i></a>
    </div>
    <div class="social"><a class="social__social-link" href="#2"><i class="social__social-icon fab fa-facebook-f"></i></a>
    </div>
    <div class="social"><a class="social__social-link" href="#3"><i class="social__social-icon fab fa-google-plus-g"></i></a>
    </div>
    <div class="social"><a class="social__social-link" href="#4"><i class="social__social-icon fab fa-twitter"></i></a>
    </div>
  </div>
</footer>