<div class="page__main-wrap">
  <div class="main-wrap">
    <div class="main-wrap__title-wrap">
      <h1 class="main-wrap__title">Мы открылись!
      </h1>
    </div>
    <div class="main-wrap__tagline-wrap">
      <p class="main-wrap__tagline">Слоган слоган Слогоанваыпып э
      </p>
    </div>
    <div class="submit-button-wrap">
      <button class="submit-button-wrap__submit-button main-button"><a class="submit-button-wrap__link" routerLink="/menu">Перейти в меню</a>
      </button>
    </div>
  </div>
</div>