<div class="cart-content-wrap">
  <div class="cart">
    <div class="cart__cart-itens-wrap">
      <div class="cart-item" *ngFor="let item of cart" [@flyOut]>
        <div class="cart-item__img-title-cost-quan-wrap">
          <div class="cart-item__img-wrap"><img class="cart-item__item-img" src="{{ item.img }}" alt="" role="presentation"/>
          </div>
          <div class="cart-item__title-cost-quan-allcost-wrap">
            <div class="cart-item__title-cost-quan-wrap">
              <div class="cart-item__title-wrap">
                <h5 class="cart-item__item-title">{{ item.title }}
                </h5>
              </div>
              <div class="cart-item__cost-quan-wrap">
                <div class="cart-item__cost-wrap">
                  <p class="cart-item__item-cost">{{ item.cost }}
                  </p>
                </div>
                <div class="cart-item__quan-wrap">
                  <div class="item-quan">
                    <button class="item-quan__quan-control minus">-
                    </button><input class="item-quan__inp" type="number" min="1" max="100" value="{{ item.count }}"/>
                    <button class="item-quan__quan-control plus">+
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-item__all-cost-del-button-wrap">
              <div class="cart-item__all-cost-wrap">
                <p class="cart-item__all-item-cost">{{ item.cost + item.count }}
                </p>
              </div>
              <div class="del-button-wrap">
                <button class="del-button-wrap__del-button" (click)="delCart(item)">
                  <I class="fa fa-trash-alt"></I>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="total-wrap">
      <p class="total-wrap__text">Итого к оплате: <span>1800</span>р
      </p>
    </div>
  </div>
  <div class="form-wrap">
    <p class="form-wrap__form-head">Заполните форму ниже, чтобы оформить заказ
    </p>
    <div class="form">
      <div class="form__form-line-wrap">
        <p class="form__form-text">Имя:
        </p><input class="form__form-input" type="text"/>
      </div>
      <div class="form__form-line-wrap">
        <p class="form__form-text">Телефон:
        </p><input class="form__form-input" type="tel"/>
      </div>
      <div class="form__form-line-wrap">
        <p class="form__form-text">Адрес:
        </p><input class="form__form-input" type="text"/>
      </div>
      <div class="submit-button-wrap">
        <button class="submit-button-wrap__submit-button">Оформить заказ
        </button>
      </div>
    </div>
  </div>
</div>